@font-face {
  font-family: "cera-round-pro";
  src: url("../fonts/CeraRoundPro/CeraRoundProDEMO-Regular.otf");
}

.navbar{
    font-family: 'cera-round-pro' ,'Arial', sans-serif;
    font-size: 16px;
    background: 0 / cover url("../nav-bg.png"), linear-gradient(180deg, #DE689C -2.67%, #FFD596 110.67%);

}
.kepala{
    font-family: 'cera-round-pro' ,'Arial', sans-serif;
    font-size: 25pt;
    margin-bottom:0.15px
}
.konten{
    font-family: 'cera-round-pro' ,'Arial', sans-serif;
    font-size: 20pt;
}

.sapp{
    font-family: 'cera-round-pro' ,'Arial', sans-serif;
}