@font-face {
  font-family: "cera-round-pro";
  src: url("../fonts/CeraRoundPro/CeraRoundProDEMO-Regular.otf");
}

.navbar {
    font-family: 'cera-round-pro' ,'Arial', sans-serif;
    font-size: 16px;
    background: 0 / cover url("../nav-bg.png"), linear-gradient(180deg, #DE689C -2.67%, #FFD596 110.67%);
}

.navbar-nav .nav-item {
            margin-left: 120px;
            margin-right: 150px;
        }

footer {
  margin-top: 900px;
  position: page;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: 0 / cover url("../nav-bg.png"), linear-gradient(180deg, #DE689C -2.67%, #FFD596 110.67%);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  height: 40px;
}

.input::placeholder {
  font-size: 16px;
}

.add-city {
  border-color: #212529;;
  margin-left: -1px;
  height: 40px;
}

/**/

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  width: calc(100% / 5 - 20px);
  box-sizing: border-box;
}