{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'weather/css/about.css' %}">
</head>

<body>
<!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'weather/log.png' %}" alt="WF">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
<!--/.Navbar-->

<br>

<div class="head">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1>Welcome to the website!</h1>
        </div>
    </div>
</div>

<br>

<div class="content">
    <div class="container">
        <div class="col-md-12 is-offset-10 text-center">
            <p>
                This is an application for helping user to check weather. You can check weather in every city around the
                world.
                I used <b>Django</b> for backend and <b>Bootstrap</b> for the frontend. And also I used API of <b>OpenWeatherMap</b> to check weather
                and I consumed the API with python package <b>requests</b>.
            </p>
        </div>

        <br>
        <br>
        <br>

        <section>
            <div class="head">
                <div class="container">
                    <div class="col-lg-12 text-center">
                        <h1>How to use this app?</h1>
                    </div>
                </div>
            </div>

            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            1. You have to add a new city for check the weather<br>
                            2. If the city doesn't exist or city is already in the list the app will be give you some notification<br>
                            3. You can delete the city from the list
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <br>
        <br>
        <br>

        <div class="head">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <h1>Supported by :</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <a href="https://openweathermap.org/"><img src="{% static 'weather/openWeatherMap.png' %}" width="300"
                                                           alt=""></a>
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <a href="https://www.djangoproject.com/"><img src="{% static 'weather/django-3.png' %}"
                                                              width="320" alt=""></a>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <a href="https://getbootstrap.com/"><img
                        src="{% static 'weather/bootstrap.png' %}" width="300"
                        alt=""></a>
            </div>
        </div>
    </div>
</section>

<footer>
    <p style="margin-bottom: 0;">© 2023 Weather Forecast App</p>
</footer>

</body>
</html>