{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'weather/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'weather/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'weather/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'weather/favicon/site.webmanifest' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'weather/css/contact.css' %}">
</head>

<body>
<!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'weather/log.png' %}" alt="WF">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
<!--/.Navbar-->


<!-- Form Section -->
<div class="container contact-form add2">
    <form method="post">
        <h3>Drop Us a Message</h3>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.phone }}
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    {{ form.subject }}
                </div>
                <div class="form-group">
                    {{ form.message }}
                </div>
            </div>
        </div>
    </form>
</div>

<footer>
    <p style="margin-bottom: 0;">© 2023 Weather Forecast App</p>
</footer>

</body>
</html>