{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'weather/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'weather/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'weather/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'weather/favicon/site.webmanifest' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'weather/css/weather.css' %}">
</head>

<body>
<!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'weather/log.png' %}" alt="WF">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
<!--/.Navbar-->

<br>
<br>

<!--Search bar and button-->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center align-items-center">
                        {{ form.name }}
                        <button type="submit" class="btn btn-dark add-city">
                            Add City
                        </button>
                    </div>
                </form>
                {% if message %}
                    <br>
                    <div class="alert {{ message_class }} d-inline-block text-center" style="padding: 20px">{{ message }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--/.Search bar and button-->

<br>
<br>

<!--City containers-->
<section>
    <div class="container">
        {% for city_weather in weather_data %}
        <div class="card mb-3 mx-auto" style="max-width: 18rem;">
            <div class="card-body text-center" style="padding: 0">
                <h2 class="d-flex justify-content-between">
                    <div style="padding-top: 5px; padding-left: 35px">
                        {{ city_weather.city }} <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image" class="img-fluid">
                    </div>
                    <div>
                        <a href="{% url 'delete_city' city_weather.city %}" class="text-danger">
                            <button type="button" class="btn btn-danger" style="margin-top: -10px">X</button>
                        </a>
                    </div>
                </h2>
                <h3 class="card-title">{{ city_weather.temperature }} °C</h3>
                <p class="card-text">{{ city_weather.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!--/.City containers-->

<div class="container">
    <div class="col-lg-12 text-center">
        <h3>5-Day Forecasts</h3>
    </div>
</div>

<div class="forecast-container">
    {% for forecast in daily_forecasts %}
        <div class="forecast">
            <h3>{{ forecast.day }}</h3>
            <p>{{ forecast.min_temp }}°C - {{ forecast.max_temp }}°C</p>
            <p>{{ forecast.description }}</p>
            <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}">
        </div>
    {% endfor %}
</div>

<footer>
    <p style="margin-bottom: 0;">© 2023 Weather Forecast App</p>
</footer>

</body>
</html>